---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SocialIcons.astro';

const bekkLogo = "/images/bekk_black.svg";
---

<div class="bekklogo">
  <a href="https://www.bekk.no/">
    <img src={bekkLogo} alt="Bekk Logo" class="logo light-mode" style="height: 40px;"/>
  </a>
</div>
<Default {...Astro.props}><slot /></Default>
