---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SocialIcons.astro';

const HSPLogo = "";
---

<div class="HSPlogo">
  <a href="">
    <img src={HSPLogo} alt="HSP Logo" class="logo light-mode" style="height: 40px;"/>
  </a>
</div>
<Default {...Astro.props}><slot /></Default>
